@model List<string>
@{
    ViewData["Title"] = "Gallery";
}

<div class="container">
<h2>RedVine Photo Gallery</h2>
<div class="row">
    @foreach (var image in Model)
    {
        <div class="col-md-4">
            <img src="@image" style="width:250px; height:250px" class="img-fluid rounded shadow" alt="Gallery Image">
        </div>
    }
</div>
</div>
